@import url(//fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,400italic,700italic);
@import url(//fonts.googleapis.com/css?family=Quattrocento:400,700,400italic,700italic);

html {
    height: 100%;
    overflow-y: overlay
}

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: #ffffff;
    color: #3e3e3e;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.width-wrap {
    width: 60%;
    margin: 0 auto
}

.width-wrap-thinner {
    width: 50%;
    margin: 0 auto
}

@media (min-width:100px) {
    .about-page-grid {
        column-count: 1
    }

    .about-width-wrap {
        padding: 0 20px
    }

    .research-width-wrap {
        max-width: 740px;
        margin: 0 auto
    }

    .teaching-width-wrap {
        max-width: 740px;
        margin: 0 auto
    }

    footer .about-width-wrap {
        column-count: 1
    }

    footer .research-width-wrap {
        padding-left: 20px;
        max-width: 840px;
        column-count: 1
    }

    footer .teaching-width-wrap {
        padding-left: 20px;
        max-width: 840px;
        column-count: 1
    }

    .teaching-table .odd {
        display: grid;
        background-color: rgb(245, 181, 195, 0.08)
    }

    .teaching-table .even {
        display: grid
    }
}

@media (min-width:600px) {
    main {}

    .about-page-grid {
        column-count: 2;
        margin: 0 auto
    }

    .about-width-wrap {
        max-width: 840px;
        margin: 0 auto
    }

    .research-width-wrap {
        max-width: 740px;
        margin: 0 auto
    }

    .teaching-width-wrap {
        max-width: 640px;
        margin: 0 auto
    }

    footer .about-width-wrap {
        max-width: 840px;
        margin: 0 auto;
        display: grid;
        column-count: 4;
        grid-template-columns: 150px 150px 150px auto
    }

    footer .research-width-wrap {
        max-width: 840px;
        margin: 0 auto;
        display: grid;
        column-count: 4;
        grid-template-columns: 150px 150px 150px auto
    }

    footer .teaching-width-wrap {
        max-width: 840px;
        margin: 0 auto;
        display: grid;
        column-count: 4;
        grid-template-columns: 150px 150px 150px auto
    }

    .teaching-semester {
        padding-right: 12rem;
        white-space: nowrap;
        overflow-x: hidden
    }

    .teaching-table .odd {
        display: grid;
        column-count: 2;
        grid-template-columns: 220px auto
    }

    .teaching-table .even {
        display: grid;
        column-count: 2;
        grid-template-columns: 220px auto
    }
}

a {
    text-decoration: none;
    color: #b9b9b9
}

a:hover {
    color: #333333;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
}

header {
    margin-top: 8rem;
    margin-bottom: 1rem;
    text-align: center
}

nav {
    padding: 0.6rem 0;
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
}

nav a {
    font-size: 0.85rem;
    font-weight: normal;
    letter-spacing: .07em;
    padding: 5px 22px;
    display: inline;
    text-align: center;
}

nav a.current-page {
    color: #333333
}

@media (max-width: 600px) {
   nav {
      grid-auto-flow: row;
   }
}

.sticky {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #f7f7f7
}

.about-page-grid blockquote {
    font-style: italic;
    text-align: right;
    border-left: 4px solid #ddd;
    margin: 10px 0 10px 0;
    padding-left: 15px;
    line-height: 1.5;
    color: #888
}

.collapsible {
    color: rgb(161, 161, 161);
    font-size: small;
    margin-bottom: 0.1rem;
    cursor: pointer;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.collapsible::after {
    content: "\22A2";
    display: inline-block;
    white-space: pre;
    position: absolute;
    z-index: -10;
    font-size: small text-shadow:2px 2px 3px rgba(0, 0, 0, 0);
    -webkit-transform: translate(2px, 0px) rotate(0deg);
    -o-transform: translate(2px, 0px) rotate(0deg);
    -moz-transform: translate(2px, 0px) rotate(0deg);
    transform: translate(2px, 0px) rotate(0deg);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.active,
.collapsible:hover {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2)
}

.active::after,
.collapsible:hover::after {
    -webkit-transform: translate(2px, 0px) rotate(90deg);
    -o-transform: translate(2px, 0px) rotate(90deg);
    -moz-transform: translate(2px, 0px) rotate(90deg);
    transform: translate(2px, 0px) rotate(90deg);
    text-shadow: 2px -2px 3px rgba(0, 0, 0, 0.2)
}

.content {
    text-align: justify;
    font-size: small;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out
}

.content p {
    margin-top: 0;
    margin-bottom: 1rem
}

footer {
    margin-top: 3rem;
    border-top: 2px solid #f7f7f7;
    padding: 1.2rem 0;
    color: #555
}

footer * {
    text-align: left
}

footer .footer-item {
    margin-bottom: 1rem
}

footer p {
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.1rem
}

.footer-item-header {
    margin: 0;
    padding: 0;
    font-size: 0.8rem
}

h1 {
    font-size: 1.8rem
}

h2 {
    font-size: 1.4rem
}

article .header {
    font-size: 1.4rem;
    font-style: italic;
    color: #555
}

.logo a {
    font-weight: bold;
    color: #000;
    text-decoration: none
}