<!doctype html>
<html lang="en">
    <head>
        $partial("templates/head-part.html")$
    </head>
    <body>
        $partial("templates/header.html")$

        <main class="main-width-wrap" role="main">
            <div class=$if(index.html)$"index-width-wrap"$endif$$if(research.html)$"research-width-wrap"$endif$$if(teaching.html)$"teaching-width-wrap"$endif$>
                $body$
            </div>
        </main>

        $partial("templates/footer.html")$
    </body>
    $partial("templates/post-scripts.html")$
</html>
