<footer>
        <div class=$if(about.html)$"about-width-wrap"$endif$$if(research.html)$"research-width-wrap"$endif$$if(teaching.html)$"teaching-width-wrap"$endif$>
        <ul>
            <li>
                <h4 class="footer-item-header">Office location</h4>
                <p>937 Evans Hall</p>
            </li>

            <li style="margin-right:3rem">
                <h4 class="footer-item-header">Office hours</h4>
                <p>Monday 1-2 pm <br /> Wednesday 3-4pm</p>
            </li>

            <li>
                <h4 class="footer-item-header">Email address</h4>
                <p>yf[dot]ding[at]berkeley.edu</p>
            </li>
        </ul>
    </div>
</footer>
