<footer>
    <div class=$if(about.html)$"about-width-wrap"$endif$$if(research.html)$"research-width-wrap"$endif$$if(teaching.html)$"teaching-width-wrap"$endif$>
        <div class="footer-item">
            <h4 class="footer-item-header">Office location</h4>
            <p>Zoom</p>
        </div>

        <div class="footer-item">
            <h4 class="footer-item-header">Office hours</h4>
            <p>Monday 2-4 pm Pacific Time <br /> </p>
        </div>

        <div class="footer-item">
            <h4 class="footer-item-header">Email address</h4>
            <p>yf[dot]ding[at]berkeley.edu</p>
        </div>
    </div>
</footer>
